# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=ktouch -caption "%c" %i %m
Icon=ktouch
DocPath=ktouch/index.html
GenericName=Touch Typing Tutor
GenericName[af]=Raak-tik Afrigter
GenericName[ar]=معلم الطباعة
GenericName[bg]=Самоучител за бързо писане
GenericName[ca]=Tutor de mecanografia
GenericName[cs]=Výuka psaní na stroji
GenericName[cy]=Athro Cyffyrdd-Deipio
GenericName[da]=Blindskriftsøvelser
GenericName[de]=Schreibmaschinenkurs
GenericName[el]=Εκμάθηση χρήσης πληκτρολογίου
GenericName[es]=Tutor para mecanografía
GenericName[et]=Klaviatuuri treening
GenericName[eu]=Mekanografia tutorea
GenericName[fi]=Näppäimistökirjoituksen ohjaaja
GenericName[fr]=Logiciel d'apprentissage de la frappe au clavier
GenericName[gl]=Tutorial de mecanografía
GenericName[he]=לימוד הדפסה עיוורת
GenericName[hi]=टच टाइपिंग ट्यूटर
GenericName[hr]=Tutor za slijepo kucanje
GenericName[hu]=Gépelésoktató
GenericName[is]=Vélritunarkennsla
GenericName[it]=Istruttore di dattilografia
GenericName[ja]=タッチタイプの練習
GenericName[lt]=Aklo spausdinimo mokytojas
GenericName[lv]=Ātrakstīšanas Skolotājs
GenericName[mk]=Учител за пишување на машина
GenericName[mn]=Бичгийн машины зааварлагч
GenericName[ms]=Tutor Menaip Touch
GenericName[nb]=Øving i touch-metoden
GenericName[nds]=Schrievmaschien öven
GenericName[nl]=Typcursus
GenericName[nn]=Tastaturøving
GenericName[nso]=Mofahlosi yo a Tlanyago ka Kgwatho
GenericName[pl]=Nauczyciel bezwrokowego pisania
GenericName[pt]=Aprender Escrita Dactilográfica
GenericName[pt_BR]=Tutor de Digitação
GenericName[ru]=Самоучитель "слепой" печати
GenericName[se]=Boallobeavdehárjehallan
GenericName[sk]=Výuka písania na stroji
GenericName[sl]=Učenje tipkanja
GenericName[sr]=Тутор за слепо куцање
GenericName[sr@Latn]=Tutor za slepo kucanje
GenericName[sv]=Maskinskrivningsträning
GenericName[ta]=தொடு-தட்டச்சு ஆசிரியர்
GenericName[tg]=Машқ Барои Чоп Кардан
GenericName[tr]=10 Parmak Öğretmeni
GenericName[uk]=Вчитель комп'ютерного набору
GenericName[ven]=Mugudisi wau thaipa hau tou fara
GenericName[xh]=Umbuyekisi wokufundiweyo Obamba Echwetheza
GenericName[xx]=xxTouch Typing Tutorxx
GenericName[zh_CN]=打字教程
GenericName[zh_TW]=觸摸輸入輔助教學
GenericName[zu]=Umfundisi Wokuthinta Ukuthayipha
Terminal=false
Name=KTouch
Name[af]=K-aanraak
Name[ar]=اللمس ك
Name[cy]=KCyffwrdd
Name[hi]=के-टच
Name[is]=KVélritun
Name[mn]=KМэдрэхүй
Name[sv]=Ktouch
Name[ta]=கேடச்
Name[ven]=KFara
Name[xx]=xxKTouchxx
Categories=Qt;KDE;Education;Miscellaneous;
