# KDE Config File  
[Desktop Entry]
Type=Application
Exec=ktouch -caption "%c" %i %m  
Icon=ktouch.png
MiniIcon=ktouch.png
DocPath=ktouch/index.html
Comment=
Terminal=0
Name=KTouch
Name[eo]=Tuŝo
Name[fr]=Entraînement à la saisie
Name[hu]=KTouch gépelésgyakoroltató
Name[sl]=DotiK
Name[sv]=Ktouch
Name[xh]=Isibambi se K
