<!DOCTYPE kpartgui>
<kpartgui name="ktouch" version="1.2">
<MenuBar>
	<Menu name="option"><text>&amp;Option</text>
		<Action name="optionKeyboard"/>
		<Action name="optionTraining"/>
		<Action name="optionGeneral"/>
	</Menu>
	<Menu name="stat"><text>&amp;Statistics</text>
		<Action name="stat"/>
	</Menu>
</MenuBar>
</kpartgui>
