<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ktouch" version="2">
<MenuBar>
  <Menu name="training"><text>T&amp;raining</text>
    <Action name="training_newsession" />
    <Action name="training_run" />
    <Action name="training_pause" />
    <Separator/>
    <Action name="training_stats" />
    <Separator/>
    <Action name="lecture_edit" />
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="keyboard_layouts" />
    <Action name="keyboard_schemes" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="training_newsession" />
  <Action name="training_run" />
  <Action name="training_pause" />
  <Separator/>
  <Action name="training_stats" />
</ToolBar>
</kpartgui>
